body {
  margin: 0 auto;
  max-width: 768px;
  line-height: 1.6;
  font-size: 18px;
  padding: 20px 50px;
  background-color: white;
  min-height: 100%;
}

h1,h2,h3 {
  line-height: 1.2;
}

td {
  padding-right: 5px;
}

input[type=text], input[type=password], input[type=number], input[type=date] {
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
  font-weight: bold;
}

html {
  font-family: sans-serif;
  background-color: lightgray;
  height: 100%;
}

image {
  max-width: 50%;
  margin: 0 auto;
}

.message {
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}

.error {
  color: red;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}