<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Questions</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/AdminHome}">Home</a>
	</div>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Insert new questions</h1>

    <p>You have selected <span th:text="${number}"></span> questions.</p>

    <form action="#" th:action="@{/AdminCreateQuestions}" method="POST">
        Select Questionnaire Date <br>
        <input type="date" name="date" id="date"><br>
        Title: <input type="text" name="title" id="title"><br>
        <table>
            <tr th:each="i : ${#numbers.sequence(0, number - 1)}">
				<td>Question <span th:text="${i + 1}"></span></td>
                <td><input type="text" th:name="${i}"></td>
            </tr>
        </table>
        <input type="submit" value="Create">
    </form>

    <script>
        const today = new Date();
        document.getElementById("date").setAttribute('value', today.toISOString().slice(0, 10))
    </script>
</body>
</html>