<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to Admin Home Page</h1>
<p
        th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>


<div>
    <form action="#" th:action="@{/AdminCreate}" method="GET">
        <input type="submit" value="New Questionnaire">
    </form>
    <form action="#" th:action="@{/AdminHistory}" method="GET">
        <input type="submit" value="History">
    </form>
</div>
</body>
</html>