<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Questionnaire Details</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div align="right">
    <a th:href="@{/AdminHome}">Home</a>
</div>
<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Answers</h1>

<p th:text="${'Answers of ' + user.name + ' ' + user.surname + ' to questionnaire of ' + #httpServletRequest.getParameter('date')}"></p>
<table class="bordered">
    <thead>
    <tr>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    </thead>
    <tbody>
    <!-- iterate over the indices and use the index to access the list -->
    <tr th:each="q, iterStat : ${questions}">
        <td th:text="${q.text}">ID</td>
        <td th:text="${answers[iterStat.index]}">Emp Account</td>
    </tr>

    </tbody>
</table>

<p>Stat answers:</p>
<table class="bordered">
    <tr>
        <th>Age</th>
        <th>Sex (M/F)</th>
        <th>Expertise (H/M/L)</th>
    </tr>
    <tr>
        <td th:text="${statAnswer.age != null} ? ${statAnswer.age} : 'Not provided'"></td>
        <td th:text="${statAnswer.sex != null} ? ${statAnswer.sex} : 'Not provided'"></td>
        <td th:text="${statAnswer.expertise != null} ? ${statAnswer.expertise} : 'Not provided'"></td>
    </tr>
</table>

</body>
</html>