<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Gamified Marketing Application</h1>
	<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>
	<p class="message" th:if="${message != null}" th:text="${message}"></p>
	<form action="#" th:action="@{/Leaderboard}" method="GET">
		<input type="submit" value="LEADERBOARD" />
	</form>
	<th:block th:if="${today == true}">
		<form th:if="${hasSubmitted == false}" action="#" th:action="@{/TodaysQuestionnaire}" method="GET">
			<input type="submit" value="TODAY'S QUESTIONNAIRE" />
		</form>
		<img th:src="*{'data:image/png;base64,'+image}" alt="product image" /><br>
		<table>
			<tr>
				<th></th>
				<th th:each="q : ${answers.getAllQuestionId()}" th:text="${answers.getQuestionText(q)}"></th>
			</tr>
			<tr th:each="u : ${answers.getAllUsers()}">
				<th th:text="${u}"></th>
				<td th:each="q : ${answers.getAllQuestionId()}" th:text="${answers.getAnswer(u, q)}"></td>
			</tr>
		</table>
	</th:block>
</body>
</html>