<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Gamified Marketing Application</h1>
	<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>
	<span th:text="${message}"></span>
	<form action="#" th:action="@{/Leaderboard}" method="GET">
		<input type="submit" value="LEADERBOARD">
	</form>
	<form action="#" th:action="@{/TodaysQuestionnaire}" method="GET">
		<input th:if="${today == true}" type="submit" value="TODAY'S QUESTIONNAIRE">
		<input th:if="${today == false}" type="submit" value="TODAY'S QUESTIONNAIRE" disabled>
	</form>
	<img th:if="${today == true}" th:src="*{'data:image/png;base64,'+image}" alt="product image" />
</body>
</html>