<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Leaderboard</h1>

	<table>
		<tr>
			<th>Name</th>
			<th>Surname</th>
			<th>Score</th>
		</tr>
		<tr th:each="u : ${allUsers}">
			<td th:text="${u.name}"></td>
			<td th:text="${u.surname}"></td>
			<td th:text="${u.score}"></td>
		</tr>
	</table>
	

	<form action="#" th:action="@{/Home}" method="GET">
		<input type="submit" value="HOME">
	</form>
</body>
</html>