<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Questionnaire Details</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div align="right">
    <a th:href="@{/AdminHome}">Home</a>
</div>
<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to the Questionnaire Page</h1>

<p>Users who submitted the questionnaire</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>username</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${usersSubmitted}">
        <td th:text="${u.name}"></td>
        <td th:text="${u.surname}"></td>
        <td th:text="${u.username}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>