<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" media="all"
		  href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<h1>Register to the Marketing Application!</h1>

	<form action="#" th:action="@{/Register}"  method="POST">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" required></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" required></td>
			</tr>
			<tr>
				<td>Surname</td>
				<td><input type="text" name="surname" required></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="mail" required></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="pwd" required></td>
			</tr>
			<tr>
				<td>Repeat Password</td>
				<td><input type="password" name="pwd1" required></td>
			</tr>
		</table>
		<input type="submit" value="register">
	</form>
	<p class="error" th:text=" ${errorMsg}"></p>

</body>
</html>