<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Home}">Home</a>
	</div>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Questionnaire Statistics</h1>
	<h2 th:text="${questionnaireName}"></h2>

	<form action="#" th:action="@{/TodaysQuestionnaireStatistics}" method="POST">
		<table>
			<tr>
				<td>Age</td>
				<td><input type="number" name="age"></td>
			</tr>
			<tr>
				<td>Sex</td>
				<td><select name="sex">
					<option value="">I prefer not to respond</option>
					<option value="M">Male</option>
					<option value="F">Female</option>
					<option value="N">Other</option>
				</select></td>
			</tr>
			<tr>
				<td>Expertise</td>
				<td><select name="expertise">
					<option value="">I prefer not to respond</option>
					<option value="L">Low</option>
					<option value="M">Medium</option>
					<option value="H">High</option>
				</select></td>
			</tr>
		</table>
		<input type="submit" name="submit" value="Finish">
		<input type="submit" name="submit" value="Cancel">
	</form>
</body>
</html>